table {
  width: 100%;
}

.example-form-field {
  width: 250px;
  padding: 10px;
  border: 2px solid #555;
  margin-bottom:12px ;
}

.indexes-container{
  margin-top:12px ;
  display: flex;
  justify-content: center;
.indexes {
  cursor: pointer;
  border: 1px solid #555;
  display: flex;
  justify-content: space-between;
  width:50%;
  padding:10px;
  .index {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .active {
    font-weight: bold;
    background-color: #555;
    color: blue;
  }
  .not-active {
    color: black;
  }
}
}


