table {
  width: 90%;
}

.example-form-field {
  width: 350px;
  padding: 10px;
  border: 1px solid;
  margin-bottom:12px ;
}
.title {
  font-size: 30px;
  margin: 20px;
  font-weight: bold;
}
.indexes-container{
  margin-top:12px ;
  display: flex;
  justify-content: center;
.indexes {
  cursor: pointer;
  border: 1px solid #555;
  display: flex;
  justify-content: space-between;
  width:50%;
  padding:10px;
  .index {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .active {
    font-weight: bold;
    background-color: #555;
    color: blue;
  }
}
}


